<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic">
</head>
<body>
    <div class="background">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    {% with msg = get_flashed_messages() %}
        {% if msg: %}<div class="msg">{{ msg[0] }}</div>{% endif %}
    {% endwith %}
    <div class="container">
        <div class="form">
            <h1>YT Downloader</h1>

            <form action="{{ url_for('download') }}" method="POST">
                <div class="inputBox">
                    <input type="text" id="url" name="url" required>
                    <span class="user">Video URL</span>
                </div>

                <div class="format-switch">
                    <p>MP3</p>
                    <label class="switch">
                        <input type="checkbox" id="format" name="format">
                        <span class="slider"></span>
                    </label>
                    <p>MP4</p>
                </div>

                <button class="submit"><span>Download</span></button>
            </form>
        </div>
    </div>
</body>
</html>